body {
    background: url('Images/spy.png') center no-repeat fixed;
    background-size: 1000px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    text-align: center;
    color: red;
}

h3 {
    display: inline-block;
}

.learn {
    font-size: x-large;
}

#startPlayers {
    text-align: left;
    font-size: x-large;
}

.box {
    width: 150px;
    height: 100px;
    background-color: #ccc;
    border: 1px solid #000;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.revealed {
    background-color: #fff;
}

.hidden {
    display: none;
}